Project/SomiodClient/notification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="notification">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resource-path" type="xs:string" />
        <xs:element name="res-type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="application" />
              <xs:enumeration value="container" />
              <xs:enumeration value="content-instance" />
              <xs:enumeration value="subscription" />
              <xs:enumeration value="unknown" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="resource-name" type="xs:string" />
        <xs:element name="evt">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="content-type" type="xs:string" minOccurs="0" />
        <xs:element name="content" type="xs:string" minOccurs="0" />
        <xs:element name="creation-datetime" type="xs:dateTime" />
        <xs:element name="raw-body" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
